@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html, body {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
  height: 100px;
  float: left;
  position: relative;
  background: rgba(0, 0, 0, 1);
  color: rgba(147, 147, 147, 1);
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
header span{
  height: auto;
  width: auto;
  display: flex;
  margin: auto;
}
header .logo {
  display: block;
  height: 80px;
  width: 80px;
  float: left;
  background-image: url('../src/img/Logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-self: center;
}
header h1 {
  margin: 0 0 0 25px;
  text-transform: uppercase;
  font-size: 75px;
  align-self: center;
}
main {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 800px;
  min-width: 755px;
}
.mainBox {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  /* background: rgba(0, 0, 0, 0.5); */
}
.subBoxP2 {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
nav {
  width: 35%;
  max-width: 250px;
  background: rgba(173, 173, 173, 1);
  display: flex;
  height: 100%;
  position: relative;
  float: left;
  flex-direction: column;
}
nav ul {
  list-style: none;
  width: 75%;
  position: relative;
  align-self: center;
  padding: 25px 0 0 0;
}
nav ul li {
  text-transform: uppercase;
  cursor: pointer;
  width: 90%;
  position: relative;
  font-weight: 900;
  font-size: 23px;
  padding: 10px;
  color:rgba(248, 248, 248, 1);
  margin: 0 0 35px 0;
  background: rgba(58, 58, 58, 1);
  transition: all 0.2s ease;
}
nav ul li:hover{
  text-indent: 5px;
  background: rgba(119, 195, 177, 1);
}
nav ul li:before {content: '  >  '}
article {
  position: relative;
  width: 65%;
  height: auto;
  float: left;
  background: rgba(255, 255, 255, 1);
  display: flex;
  margin:0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
article img {
  width: 70%;
  height: auto;
  margin: 15px 0 0 0;
  cursor: pointer;
}
article p { padding: 0 15px; font-size: 18px}
footer {
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  position: relative;
  float: left;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#youtube-iframe { height: 315px;}
#media {height: 315px;}
#media span {
  background: rgba(0,0,0,1); color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 80%;
  position: relative;
}
#media i {
  padding: 25px 0;
}
#portada {
  height: 450px;
}
